* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
}

#container {
    background-color: #7397B4;
    min-width: 100vh;
    min-height: 100vh;
}


a {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
}