{% extends 'base.html.twig' %}

{% block title %}Add a category{% endblock %}

{% block body %}
<div class="form-categories">
    <h1>Add a category</h1>
        {{ form_start(formAddCategory) }}
            {{ form_row(formAddCategory.categoryName) }}
            <div class="submit">
                {{ form_row(formAddCategory.Valider) }}
            </div>
        </div>
        {{ form_end(formAddCategory) }}
</div>
{% endblock %}
