{% extends 'base.html.twig' %}

{% block title %}Add a category{% endblock %}

{% block body %}
<div class="form-categories">
    <h1> Add a category</h1>
    {{ form(formAddCategory )}}
</div>   
{% endblock %}
