{% extends 'base.html.twig' %}

{% block title %}Modules in this category{% endblock %}

{% block body %}

    <h1>Modules in this category::</h1>
    {% for module in category.modules %} 
        <a href="{{ path('show_module', {'id':module.id} )}}">{{ module }}</a>  <br> 
    {% endfor %}
    
{% endblock %}