{% extends 'base.html.twig' %}

{% block title %}Modules in this category{% endblock %}

{% block body %}
<div class="detail-categories">
    <h1>Modules in this category:</h1>
    <div class="module-categories">
        {% for module in category.modules %} 
            <li> {{ module }}  </li> <br>
        {% endfor %}
    </div>
</div>    
{% endblock %}