{% extends 'base.html.twig' %}

{% block title %}Modules in this category{% endblock %}

{% block body %}

    <h1>Modules in this category:</h1>
    {% for module in category.modules %} 
        {{ module }} <br>
    {% endfor %}
    
{% endblock %}