{% extends 'base.html.twig' %}

{% block title %}List of sessions{% endblock %}

{% block body %}
    <h1> List of sessions</h1>

        {% for session in sessions %}
        <a href="{{ path('show_session', {'id' : session.id} )}}"> {{ session }}</a> <br>
        {% endfor %}
{% endblock %}
