{% extends 'base.html.twig' %}

{% block title %}Add a session{% endblock %}

{% block body %}
<div class="form-session">
    <h1> Add a session</h1>
    {{ form(formAddSession )}}
</div>
   

{% endblock %}
