{% extends 'base.html.twig' %}

{% block title %}Details of sessions{% endblock %}

{% block body %}
    <h1> Details of sessions</h1>

    {# Trainees : <a href="{{ path('show_trainee', {'id':session.trainee.id}) }}"> {{ session.trainee }} </a> <br> #}


    <h2>Trainees registered in this session : </h2> <br>
    {% for trainee in session.trainees %} <br>

        
    {{ trainee }} <br>
    
    {% endfor %}
    
{% endblock %}
