* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
}

#container {
    background-color: #7397B4;
    min-width: 100vh;
    min-height: 100vh;
}


a {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
}

.nav-base {
    background-color: #34495E;
    padding-bottom: 20px;
    display: flex;
    align-items: end;
    justify-content: end;
   
}

.nav-base a {
    padding-right: 20px;
    padding-top: 20px;
    font-size: 20px;
}


  
  
  /* 
=================================================================
=========================FORM==================================
=================================================================
 */

  /* 
=================================================================
=========================HOME==================================
=================================================================
 */

 .list-home {
    display: flex;
    list-style: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
 
 }



 .list-home li {
    font-size: 30px;
   background-color: #34495E;
   padding: 20px;
   margin: 30px;
   border-radius: 20px;
   width: 300px;
   align-items: center;
   justify-content: center;
   display: flex;

 
 
 }

 .wrapper-home h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: white;
    margin-bottom: 30px;
    margin-top: 40px;
   
 }


