* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    
}

#container {
    background-color: #7397B4;
    min-width: 100vh;
    min-height: 100vh;
}


a {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
}

.nav-base {
    background-color: #34495E;
    padding-bottom: 20px;
    display: flex;
    align-items: end;
    justify-content: end;
   
}

.nav-base a {
    padding-right: 20px;
    padding-top: 20px;
    font-size: 20px;
}


  
  
  /* 
=================================================================
=========================FORM==================================
=================================================================
 */

  /* 
=================================================================
=========================HOME==================================
=================================================================
 */

 .list-home {
    display: flex;
    list-style: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
 
 }



 .list-home li {
    font-size: 30px;
   background-color: #34495E;
   padding: 20px;
   margin: 30px;
   border-radius: 20px;
   width: 300px;
   align-items: center;
   justify-content: center;
   display: flex;
 
 }

 .list-home li:hover {
    opacity: 0.7;
 }

 .wrapper-home h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: white;
    margin-bottom: 30px;
    margin-top: 40px;
   
 }

  /* 
=================================================================
=========================SESSION LIST==================================
=================================================================
 */

 .wrapper-list-session h1 {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
 }

 .wrapper-list-session h2 {
    color: white;
    background-color: #34495E;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    margin-top: 40px;
 }

 .wrapper-list-session li {
   
    font-size: 20px;
    list-style: none;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .wrapper-list-session a {
    padding-right: 5px;
 }

   /* 
=================================================================
=========================TRAINEE LIST==================================
=================================================================
 */

 .wrapper-list-trainee h1 {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
 }

 .wrapper-list-trainee li {
   
    font-size: 25px;
    list-style: none;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;

 }

 .wrapper-list-trainee a {
    padding-right: 5px;
 }
 .wrapper-list-trainee a:hover  {
    color: #34495E;
    text-decoration: underline;
 }


 /* 
=================================================================
=========================TRAINING LIST==================================
=================================================================
 */

 .wrapper-list-training h1 {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
 }

 .wrapper-list-training a {
   
    font-size: 25px;
    list-style: none;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5px;
 }

 .wrapper-list-training a:hover  {
    color: #34495E;
    text-decoration: underline;
 }

 /* 
=================================================================
=========================CATEGORIES LIST==================================
=================================================================
 */

 .wrapper-list-categories h1 {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
 }

 .wrapper-list-categories a {
   
    font-size: 25px;
    list-style: none;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5px;
 }

 .wrapper-list-categories a:hover  {
    color: #34495E;
    text-decoration: underline;
 }

 /* 
=================================================================
=========================MODULES LIST==================================
=================================================================
 */

 .wrapper-list-module h1 {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
 }

 .wrapper-list-module a {
   
    font-size: 25px;
    list-style: none;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5px;
 }

 .wrapper-list-module a:hover  {
    color: #34495E;
    text-decoration: underline;
 }

  /* 
=================================================================
=========================SESSION DETAIL==================================
=================================================================
 */
 .detail-session h1 {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
 }

 .detail-session h2 {
    color: white;
    background-color: #34495E;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    margin-top: 40px;
    margin-bottom: 40px;
 }

 .detail-session li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
 }


 .module-session h3 {
    color: #34495E;
 }

 .module-session {
    display:inline;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;

 }
 

 .detail-session a {
    font-size: 20px;
    margin-bottom: 20px;
 }

 .detail-session a:hover {
  color: #34495E;
  text-decoration: underline;
 }

 .info-session {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
 }
 .info-session li {
    color: white;
    font-size: 20px;
 }
 
  /* 
=================================================================
=========================TRAINEE DETAIL==================================
=================================================================
 */
  .detail-trainee h1 {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
 }

 .session-trainee {
   color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
 }
 
 .session-trainee h2 {
   margin: 30px;
   font-size: 30px;
 }

 .session-trainee a:hover {
   text-decoration: underline;
   color: #34495E;
 }

 .info-trainee {
   color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   font-size: 20px;
 }

 .info-trainee h2 {
   margin-bottom: 20px;
   font-size: 30px;
   text-decoration: underline;
   color: #34495E;
 }

 .info-trainee li {
   list-style: none;
 }

 .info-trainee span {
   color: #34495E;
 }
   /* 
=================================================================
=========================TRAINING DETAIL==================================
=================================================================
 */
 .detail-training h1 {
   color: white;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 50px;
   margin-top: 40px;
   margin-bottom: 40px;
}

 .training-a  {
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 20px;
 }

 .detail-training a:hover {
   text-decoration: underline;
   color: #34495E;
 }
 

  /* 
=================================================================
=========================CATEGORIES DETAIL==================================
=================================================================
 */
 .detail-categories h1 {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
 }

 .detail-categories {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
 }

 .module-categories {
   font-size: 20px;
   color:#34495E;
 }

 .module-categories li {
   margin-bottom: 20px;
   list-style: none;
 }
  /* 
=================================================================
=========================MODULES DETAIL==================================
=================================================================
 */
 .detail-module h1 {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    margin-top: 40px;
    margin-bottom: 40px;
 }

 .detail-module {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
 }

 .detail-module a {
   font-size: 20px;
   margin-bottom: 20px;
 }

 .detail-module a:hover {
   color: #34495E;
   text-decoration: underline;
 }

   /* 
=================================================================
=========================SESSION FORM==================================
=================================================================
 */

 .form-session h1 {
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 20px;
   margin-bottom: 20px;
 }

 .form-session {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   margin-top: 30px;
 }

 .form-session form {
   background-color: rgba(52, 73, 94, 0.6);
   padding: 60px;
   border-radius: 20px;
   margin-top: 50px;
 }

 .form-session label {
  color: white;
  display: inline-block;
  width: 250px;
  text-align: left;
  font-size: 20px;

 }

 .form-session input {
   margin: 3px;
 }

 #session_Valider {

      border-radius: 20px;
      border: none;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 50px;
      padding-right: 50px;
      margin-top: 20px;
      color: white;
      background-color: #34495E;
   
 }

.submit:hover {
  opacity: 0.7;
}




   /* 
=================================================================
=========================TRAINEE FORM==================================
=================================================================
 */

 .form-trainee h1 {
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 20px;
   margin-bottom: 20px;
 }

 .form-trainee {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   margin-top: 30px;
 }

 .form-trainee form {
   background-color: rgba(52, 73, 94, 0.6);
   padding: 60px;
   border-radius: 20px;
   margin-top: 50px;
 }

 .form-trainee label {
  color: white;
  display: inline-block;
  width: 250px;
  text-align: left;
  font-size: 20px;

 }

 .form-trainee input {
   margin: 3px;
 }

 #trainee_Valider {

      border-radius: 20px;
      border: none;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 50px;
      padding-right: 50px;
      margin-top: 20px;
      color: white;
      background-color: #34495E;
   
 }


   /* 
=================================================================
=========================TRAINING FORM==================================
=================================================================
 */

 .form-training h1 {
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 20px;
   margin-bottom: 20px;
 }

 .form-training{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   margin-top: 30px;
 }

 .form-training form {
   background-color: rgba(52, 73, 94, 0.6);
   padding: 60px;
   border-radius: 20px;
   margin-top: 50px;
 }

 .form-training label {
  color: white;
  display: inline-block;
  width: 250px;
  text-align: left;
  font-size: 20px;

 }

 .form-training input {
   margin: 3px;
 }

 #program_Valider {

      border-radius: 20px;
      border: none;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 50px;
      padding-right: 50px;
      margin-top: 20px;
      color: white;
      background-color: #34495E;
   
 }


   /* 
=================================================================
=========================CATEGORIES FORM==================================
=================================================================
 */

 .form-categories h1 {
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 20px;
   margin-bottom: 20px;
 }

 .form-categories{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   margin-top: 30px;
 }

 .form-categories form {
   background-color: rgba(52, 73, 94, 0.6);
   padding: 60px;
   border-radius: 20px;
   margin-top: 50px;
 }

 .form-categories label {
  color: white;
  display: inline-block;
  width: 250px;
  text-align: left;
  font-size: 20px;

 }

 .form-categories input {
   margin: 3px;
 }

 #category_Valider {

      border-radius: 20px;
      border: none;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 50px;
      padding-right: 50px;
      margin-top: 20px;
      color: white;
      background-color: #34495E;
   
 }

 .submit{
   display: flex;
   justify-content: center;
   align-items: center;
 }



   /* 
=================================================================
=========================MODULES FORM==================================
=================================================================
 */

 .form-module h1 {
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 20px;
   margin-bottom: 20px;
 }

 .form-module{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   margin-top: 30px;
 }

 .form-module form {
   background-color: rgba(52, 73, 94, 0.6);
   padding: 60px;
   border-radius: 20px;
   margin-top: 50px;
 }

 .form-module label {
  color: white;
  display: inline-block;
  width: 250px;
  text-align: left;
  font-size: 20px;

 }

 .form-module input {
   margin: 3px;
 }

 #module_Valider {

      border-radius: 20px;
      border: none;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 50px;
      padding-right: 50px;
      margin-top: 20px;
      color: white;
      background-color: #34495E;
   
 }

  /* 
=================================================================
=========================PROGRAM FORM==================================
=================================================================
 */

 .form-program h1 {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.form-program {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
}

.form-program form {
  background-color: rgba(52, 73, 94, 0.6);
  padding: 60px;
  border-radius: 20px;
  margin-top: 50px;
}

.form-program label {
 color: white;
 display: inline-block;
 width: 250px;
 text-align: left;
 font-size: 20px;

}

.form-program input {
  margin: 3px;
}

#program_Valider {

     border-radius: 20px;
     border: none;
     padding-top: 10px;
     padding-bottom: 10px;
     padding-left: 50px;
     padding-right: 50px;
     margin-top: 20px;
     color: white;
     background-color: #34495E;
  
}


    /* 
=================================================================
=========================LOGIN FORM==================================
=================================================================
 */

 .form-login h1 {
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 20px;
   margin-bottom: 20px;
 }

 .form-login{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   margin-top: 30px;
 }

 .form-login form {
   background-color: rgba(52, 73, 94, 0.6);
   padding: 60px;
   border-radius: 20px;
   margin-top: 50px;
 }

 .form-login label {
  color: white;
  display: inline-block;
  width: 250px;
  text-align: left;
  font-size: 20px;

 }

 .form-login input {
   margin: 3px;
 }



 

    /* 
=================================================================
=========================REGISTER FORM==================================
=================================================================
 */

 .form-register h1 {
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 20px;
   margin-bottom: 20px;
 }

 .form-register{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   margin-top: 30px;
 }

 .form-register form {
   background-color: rgba(52, 73, 94, 0.6);
   padding: 60px;
   border-radius: 20px;
   margin-top: 50px;
 }

 .form-register label {
  color: white;
  display: inline-block;
  width: 250px;
  text-align: left;
  font-size: 20px;

 }

 .form-register input {
   margin: 3px;
 }

 .btn.btn-primary {

      border-radius: 20px;
      border: none;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 50px;
      padding-right: 50px;
      margin-top: 20px;
      color: white;
      background-color: #34495E;
   
 }


