{% extends 'base.html.twig' %}

{% block title %}List of modules{% endblock %}

{% block body %}

    <h1> List of modules</h1>
    {% for module in modules %}
        <a href="{{ path('show_module', {'id' : module.id} )}}"> {{ module }}</a> <br>
    {% endfor %}

{% endblock %}

