{% extends 'base.html.twig' %}

{% block title %}Add a module{% endblock %}

{% block body %}
<div class="form-module">
    <h1> Add a module</h1>
    {{ form(formAddModule )}}
</div>   
{% endblock %}
