{% extends 'base.html.twig' %}

{% block title %}List of trainees{% endblock %}

{% block body %}
<div class="wrapper-list-trainee">
    <h1> List of trainees</h1>

        {% for trainee in trainees %}
        
        <li> <a href="{{ path('show_trainee', {'id':trainee.id} )}}">{{ trainee }} </a> ( {{ trainee.phone}} ) </li><br> 
       
        {% endfor %}
    </div>
{% endblock %}
