{% extends 'base.html.twig' %}

{% block title %}Add a trainee{% endblock %}

{% block body %}
<div class="form-trainee">
    <h1> Add a trainee</h1>
    {{ form(formAddTrainee )}}
</div>    
{% endblock %}
