{% extends 'base.html.twig' %}

{% block title %}List of trainings{% endblock %}

{% block body %}
    <div class="wrapper-list-training">
        <h1> List of trainings</h1>

            {% for training in trainings %}
            <a href="{{ path('show_training', {'id' : training.id} )}}"> {{ training }}</a> <br>
            {% endfor %}
        </div>
{% endblock %}
